Provided_data/Consumption.csv
Provided_data/Customer_info.csv
Provided_data/INFO_Dataset.txt
Provided_data/Interruptions.csv
Provided_data/Labels.csv
Provided_data/Status_words.csv
Provided_data/Works.csv
